apiVersion: apps/v1
kind: Deployment
metadata:
  name: fast-api-gha
  labels:
    app: fast-api-gha
spec:
  replicas: 2
  revisionHistoryLimit: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: fast-api-gha
  template:
    metadata:
      labels:
        app: fast-api-gha
    spec:
      containers:
        - name: fast-api-gha
          image: ghcr.io/uptime-university/fast-api_gha:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000

          env:
            - name: ENV
              value: "prod"

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3

          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 20
            timeoutSeconds: 2
            failureThreshold: 3
