apiVersion: v1
kind: Secret
metadata:
  name: ghcr-secret
  namespace: default
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: ewogICJhdXRocyI6IHsKICAgICJnaGNyLmlvIjogewogICAgICAidXNlcm5hbWUiOiAidXB0aW1lLXVuaXZlcnNpdHkiLAogICAgICAicGFzc3dvcmQiOiAiZ2hwX2dHVHlNV0dUTWZySmNSUldEY2VuRVBaYjBLOFVjWDNIVWZrayIsCiAgICAgICJlbWFpbCI6ICJ1cHRpbWV1bml2ZXJzaXR5QGdtYWlsLmNvbSIsCiAgICAgICJhdXRoIjogImRYQjBhVzFsTFhWdWFYWmxjbk5wZEhrNloyaHdYMmRIVkhsTlYwZFVUV1p5U21OU1VsZEVZMlZ1UlZCYVlqQkxPRlZqV0ROSVZXWnIKYXc9PSIKICAgIH0KICB9Cn0KCg==
