name: Build and Deploy FastAPI to K8s

on:
    push:
        branches:
            - main

env:
    REGISTRY: ghcr.io
    IMAGE_NAME: uptime-university/fast-api_gha
    CONTAINER_PORT: 8000
    LOCAL_PORT: 8000

jobs:
    build-and-push:
        name: Build & Push Docker Image
        runs-on: ubuntu-latest

        permissions:
            contents: read
            packages: write # REQUIRED for GHCR

        steps:
            - name: Debug docker access
              run: |
                  whoami
                  id
                  docker ps

            - name: Checkout source code
              uses: actions/checkout@v4

            - name: Login to GHCR
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GHRC_TOKEN }}

            - name: Build Docker image
              run: |
                  docker build \
                    -t $REGISTRY/$IMAGE_NAME:${{ github.sha }} \
                    -t $REGISTRY/$IMAGE_NAME:latest .

            - name: Push Docker image
              run: |
                  docker push $REGISTRY/$IMAGE_NAME:${{ github.sha }}
                  docker push $REGISTRY/$IMAGE_NAME:latest

    deploy-to-k8s:
        name: Deploy to Kubernetes
        runs-on: [self-hosted, Linux, kube]
        needs: build-and-push

        steps:
            - name: Checkout repo (for manifests)
              uses: actions/checkout@v4

            # - name: Update image in deployment
            #   run: |
            #       kubectl set image deployment/fast-api-gha \
            #         fast-api-gha=$REGISTRY/$IMAGE_NAME:${{ github.sha }}

            - name: Apply manifests
              run: |
                  kubectl apply -f k8s/base/

            - name: Wait for rollout
              run: |
                  kubectl rollout status deployment/fast-api-gha

            - name: Port Forward Service
              run: |
                  echo "Starting port-forward..."
                  kubectl port-forward svc/fast-api-gha-svc \
                    $LOCAL_PORT:$CONTAINER_PORT &
                  sleep 10
                  echo "Application available on http://localhost:$LOCAL_PORT"
